hw/hw_6/OnlineRetail.csv
venv/
.vscode/
hw/hw_6/.ipynb_checkpoints/
hw/hw_6/CHEATSHEET.md
hw/hw_6/QUICKSTART.md
hw/hw_6/README.md
hw/hw_6/ИНСТРУКЦИЯ.md
hw/hw_6/КАК_РАБОТАТЬ.md
hw/hw_6/НАЧАТЬ_ЗДЕСЬ.md
hw/hw_6/ЧТО_СДЕЛАНО.md